# Data visualization and analyze

here you can visualize and build dashboards from the data you already downloaded and cleaned

In [1]:
# load your data
from src.frame_csv import frame_dir

reconciled_dir = "data/03_reconciled"

reconciled_df = frame_dir(reconciled_dir)

In [2]:
# build toy dataset
from src.toy_dataset import generate_transactions
from datetime import datetime

start_date = datetime(2023, 1, 1)
df = generate_transactions(start_date)

In [3]:
from src.auto_category import load_categories
from src.dashboard import *

# load relevant data
# df = reconciled_df
categories = load_categories()

outcome_categories = categories

df.head()

,date,bank,income,outcome,balance,category,description,original_id
0,2023-01-27,nubank,2701.44,0.00,2701.44,monthly-income,Sample description for monthly-income,c6843bba1ae5ea6331d9d45c0fd5843806ef
1,2023-01-26,nubank,0.00,83.32,2618.12,personal-enrichment,Sample description for personal-enrichment,145f61b1762cee3fda59d679d78313127a96
2,2023-01-01,nubank,0.00,219.98,2398.14,snack,Sample description for snack,8c5ab53ddfb8f19a4c432f74eb10a5d4da1d
3,2023-01-11,nubank,0.00,311.05,2087.09,personal-enrichment,Sample description for personal-enrichment,b3b6f9f27613c7a2d0c07a017737c49b60ff
4,2023-01-31,nubank,0.00,226.71,1860.38,eating-out,Sample description for eating-out,a31b9aa0d2032c4e7023fe6aacf0bc717a86

In [4]:


category_dash = CategoryDashboard(df, outcome_categories)
category_dash.run()

In [5]:

cashflow_dash = CashFlowDashboard(df)
cashflow_dash.run()