# Data visualization and analyze

here you can visualize and build dashboards from the data you already downloaded and cleaned

In [3]:
# load data
from src.frame_csv import frame_dir

reconciled_dir = "data/03_reconciled"

reconciled_dir = "data/02_categorized"

reconciled_df = frame_dir(reconciled_dir)

In [4]:
from src.auto_category import load_categories
from src.dashboard import *

# load relevant data
df = reconciled_df
categories = load_categories()
outcome_categories = categories

df.head()

,date,bank,income,outcome,balance,category,description,original_id,action,participant
0,2023-11-01,nubank,0.0,59.90,0.0,eating-out,transferência enviada pelo pix - ifood.com age...,6542f814-40f1-43cb-b857-a302ee3de480,NaN,NaN
1,2023-11-02,nubank,0.0,31.47,0.0,eating-out,transferência enviada pelo pix - sabrina apare...,6543d411-ddef-4a08-88f9-d1dc59557589,NaN,NaN
2,2023-11-02,nubank,0.0,20.00,0.0,other,transferência enviada pelo pix - ketine pentea...,654400c9-63b4-4638-a271-ff6748311e76,NaN,NaN
3,2023-11-02,nubank,0.0,40.00,0.0,other,transferência enviada pelo pix - nildo cardoso...,65442637-a112-4832-a20b-8080cd248991,NaN,NaN
4,2023-11-03,nubank,0.0,25.00,0.0,other,transferência enviada pelo pix - 13.015.283 ta...,65447066-591a-4f4f-95f9-f25782081aee,NaN,NaN

In [5]:


category_dash = CategoryDashboard(df, outcome_categories)
category_dash.run()

In [ ]:
participant_dash = ParticipantDashboard(df, outcome_categories)
participant_dash.run()

In [ ]:

cashflow_dash = CashFlowDashboard(df)
cashflow_dash.run()